<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/inputtext.css">
 <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>
<h1>
<div class="topnav">
  <a href="/index">Speech</a>
  <a href="/reg2">Url</a>
    <a href="/reg3">Input Text</a>
</h1>
<body>

<form class="form-signin" method="POST" action ='/templates1'>
  <input type="text" name="input_text" id="inputName" class="form-control" placeholder="Input Text Here" required autofocus><br/>
<div class="text">
<input type="submit" class="btn btn-lg  btn-block"></input></div></a></div>
</form>
<p>{{ output_summary }}</p>
</body>
</html>
